#gameboard {
	background-color: yellow;
}

.tile { 
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 90px; 
	-webkit-box-shadow: -6px 9px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -6px 9px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -6px 9px 5px 0px rgba(50, 50, 50, 0.75);
}

.isSelected {
    outline: none;
    border-color: blue;
    box-shadow: 0 0 50px blue;
}

.noMatch {
    outline: none;
    border-color: red;
    box-shadow: 0 0 50px red;
}

.tabBarButton {
	cursor: hand; 
}

.center-vertically {
	width:60%;
    height:20px;
    position:absolute;
    left:50%;
    top:30%;
    margin:0 0 0 -30%;
}

.progressLabel{
	width:100%;
    height:20px;
    text-align: center;
    position:absolute;
    left:0px;
    top:30%;
    font-size:30px;
    margin:-40px 0 0 0;
}

.loginButton {
	position: absolute;
	left:50%;
	top:30%;
	width:50%;
	margin:0 0 0 -25%;
}

#selectGameType {
	margin-left:68px;
	width:100px !important;
}

.progressBarDiv {
	margin-top:5px;
	width:109px;
}

.pacifico {
	font-family: Pacifico;
}

.float-left {
	float: left;
}

.bigText {
	font-size:20px;
}

.myAlert {
	opacity: 0;
}

#progressBottomLabel {
	position: absolute;
	left:50%;
	top:40%;
	width:50%;
	margin:40px 0 0 -25%;
	text-align: right;
	font-family: Pacifico;
	font-color: #CDCDCD;
	font-size:20px;
}

@media only screen and (max-width : 852px) {
	#progressBottomLabel { font-size: 13px; }
}